.DS_Store
.env
.env.development.local
.env.example
.env.local
.env.production.local
.env.test.local
.github/workflows
.next
.next/
node_modules
.pnp
.pnp.js
.react-email/
.sentryclirc
.turbo
.vercel
.yarn-debug.log*
.yarn-error.log*
*.pem
.build
.coverage
.dist
.node_modules
.npm-debug.log*
.out

